body{
  margin: 0;
}

/* NAVBAR DESIGNING */
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(78, 115, 189);
  padding: 20px;
  border-radius:15px;
  margin: 0 auto;
  margin-top: 5px;
  max-width: 70%;
}
.nav--img{
  width:50px;
  margin-right:20px
}
.nav--title{
  font-size:30px;
}

/* cards */
.card--body{
    margin: 0 auto;
    width:70%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 30px 20px;
    border-radius: 15px;
}
.card--img{
  width: 250px;
  border-radius: 10px;
}
.card--desc{
  margin: 20px;
}

/* card location */

.card--loc{
  display: flex;
  flex-direction: row;
  /* margin: 20px; */
}
.card--loclogo{
  width: 32px;
  height: 30px;
  margin-top:12px;
}
.card--gmap{
  margin-top:21px;
  margin-left: 20px;
  color: rgb(120, 120, 120);
}
.card--locTitle{
  margin-left: 10px;
}
.card--details{
  line-height:1.5rem;
}
hr{
  width: 70%;
}
